<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>creggv.ivvgnyn@tznvy.pbz</string>
	<key>contactName</key>
	<string>Pertti Viitala</string>
	<key>description</key>
	<string>Support for the &lt;a href="https://www.php.net/"&gt;PHP&lt;/a&gt; programming language.</string>
	<key>name</key>
	<string>PHP opinionated</string>
	<key>uuid</key>
	<string>BE00C6C2-DC71-4F3A-8192-05D659A9E97E</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>774E75DA-A747-4CB4-B8AF-DE720B01E295</string>
			<string>9E75987E-5870-4224-8781-25819F6FC4EF</string>
			<string>------------------------------------</string>
			<string>6F462C44-3560-45CB-88C9-20D9CCFCC2B4</string>
			<string>15AC74DA-2F05-4EF9-BBBC-26BBAA5877BD</string>
			<string>3C871C9E-B20A-4D69-A3F4-C0E723A20FDD</string>
			<string>C36C7CD8-129B-4A87-8121-5B5AE5201558</string>
			<string>------------------------------------</string>
			<string>A18C4A34-76B1-447C-A9A1-AA4CB551AA73</string>
			<string>A8C6B7E0-0FED-4E0F-8891-36197A9F703C</string>
			<string>1E51E51B-2458-4FA6-8892-E8D7B29BAD11</string>
			<string>------------------------------------</string>
			<string>273ADF46-07E7-470A-B3E7-5040306A1589</string>
			<string>D928AFFE-91E2-4656-BF37-401657426E6D</string>
			<string>FFDA1D8D-78A7-4159-BF03-7814660881A6</string>
			<string>359BED8E-86DA-43B7-8E2B-8ECBEAF0AE68</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>273ADF46-07E7-470A-B3E7-5040306A1589</key>
			<dict>
				<key>items</key>
				<array>
					<string>47C05E11-1208-47F4-95A3-2D170B69E46C</string>
					<string>67288973-5918-45F9-B17C-2739EBFB4186</string>
				</array>
				<key>name</key>
				<string>Declarations</string>
			</dict>
			<key>D928AFFE-91E2-4656-BF37-401657426E6D</key>
			<dict>
				<key>items</key>
				<array>
					<string>76E97DBA-0AD0-4211-8D92-ED107A6AC238</string>
					<string>038D0DCA-2CB9-4AE9-8E2E-3FFD94E43B9A</string>
					<string>9D492649-6920-4871-BBE8-0D8617BD40DF</string>
					<string>1E986EB1-86B0-45FB-ACE2-64725E013A01</string>
					<string>F299A998-F5EE-4D0E-B378-B5C460CDD1DE</string>
					<string>613CDC83-4D59-42E6-913C-190635CA12BA</string>
					<string>6F6E1B2E-B799-445D-9929-2188CB0C0194</string>
					<string>CCBD8C65-0716-4B9C-80B2-612A36C08AFC</string>
					<string>1A87FF3F-64F2-4920-A9BD-73B264129D80</string>
					<string>81B10E15-B513-408B-B0E3-BBF8D232A4C4</string>
				</array>
				<key>name</key>
				<string>Control Structures</string>
			</dict>
			<key>359BED8E-86DA-43B7-8E2B-8ECBEAF0AE68</key>
			<dict>
				<key>items</key>
				<array>
					<string>98C69580-627F-4A79-AA9F-E036D5383B99</string>
					<string>23C1A62B-B839-4CC5-9D05-56B777D9F97D</string>
					<string>212901F7-1197-46F3-9F2C-86357EB0BA4E</string>
					<string>785F47C3-A45C-4810-B751-4658560A93BE</string>
				</array>
				<key>name</key>
				<string>Idioms</string>
			</dict>
			<key>A18C4A34-76B1-447C-A9A1-AA4CB551AA73</key>
			<dict>
				<key>items</key>
				<array>
					<string>9E6DDCD7-F043-443F-BC1D-F7051B2B50ED</string>
					<string>89E5313B-92FC-404C-B93F-ADE1D91E3208</string>
				</array>
				<key>name</key>
				<string>Validate Syntax</string>
			</dict>
			<key>A8C6B7E0-0FED-4E0F-8891-36197A9F703C</key>
			<dict>
				<key>items</key>
				<array>
					<string>02B7C458-F237-47D5-8EF9-05F7E2708625</string>
					<string>4EBE2C8F-DEDB-4E54-AA9D-3D82569036B6</string>
					<string>0DDA4FEA-2824-4E4A-A689-102AC38FBD6F</string>
					<string>7AF65457-67E3-467B-B8EF-082AB02508C5</string>
				</array>
				<key>name</key>
				<string>Reformat Document</string>
			</dict>
			<key>1E51E51B-2458-4FA6-8892-E8D7B29BAD11</key>
			<dict>
				<key>items</key>
				<array>
					<string>6C9CEDEF-5A94-40A3-A5FB-3A95997EAC85</string>
					<string>8480F66D-D0A6-445E-81A0-98E933BD82A5</string>
				</array>
				<key>name</key>
				<string>Static Analysis</string>
			</dict>
			<key>FFDA1D8D-78A7-4159-BF03-7814660881A6</key>
			<dict>
				<key>items</key>
				<array>
					<string>413052FA-3600-46A9-A748-80CD629C8C30</string>
					<string>AA02AD36-541C-408F-A429-E5B91575A31C</string>
					<string>------------------------------------</string>
					<string>2FB1A0BF-EAF9-4CBF-A0A0-A05DAA726762</string>
					<string>8D296141-6529-4745-B4A1-ACC2506D7E4D</string>
					<string>773D42A5-6DF8-4EDD-8F56-D42C2472995D</string>
					<string>A5747D2D-1FA0-413A-B252-21E38296905B</string>
					<string>4B76C82F-CFCB-4E59-BB1D-5B3EFDD49491</string>
					<string>856746A6-511C-4712-A545-E426D55C186E</string>
					<string>DC08748B-5A2C-474B-B841-396B95DBF0B4</string>
					<string>E81D4E75-F1DC-4808-A9D0-6F4F79EFB503</string>
					<string>AB28A469-6C12-429D-9F6A-2EA01AC5CB86</string>
					<string>DF670C74-48B0-41FF-882C-B9D4FC2FAFED</string>
					<string>BFAE685E-8D65-4351-8A76-0788FBC06676</string>
					<string>E518DBAB-7CF9-4339-A255-9444D298D4B6</string>
					<string>BD1F9FA6-4B56-4373-8D1D-EE544DF7518D</string>
					<string>B74B686C-1319-4B08-B6E2-C61D934AFC5C</string>
					<string>F73359AC-F726-4B65-838A-117BACC643D1</string>
				</array>
				<key>name</key>
				<string>Magic methods</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
